server:
  port: 8761
eureka:
  instance:
    hostname: eureka-server-1 #eureka.instance.hostname不能重复，否则集群失败，所以不能为localhost或者ip地址
  client:
    service-url:
      defaultZone: http://eureka-server-2:8762/eureka  #设置Eureka Server的交互地址
spring:
  application:
    name: sc-eureka-server #应用名称
security:
  basic:
    enabled: true #开启基于HTTP用户认证
  user:
    name: admin   #登录账号
    password: admin   #登录密码
